#footer {
	clear:both;
	background: #1a237e;
	color: #a7a3a2;
	width:98.05% !important;
	border-top: 1px solid #878382;
	padding-bottom: 1em;
}
	
.credit {
	font-size: 0.875em;
	float: left;
	padding: 0.5em 0;
	color: #fafafa;
}

footer .credit {
	padding: 0.75em 0;
}

#demo-nav {
	margin: 0;
	padding: 0;
	list-style: none;
	width: auto !important;
	height: auto !important;
	border-top: -0px !important;
	float:right !important;
	padding: 0 0 !important;
	background: transparent !important;
	margin-right: 5%;
}

#demo-nav li {
	display: inline;
	width: auto !important;
	height: auto !important;
}

#demo-nav span
{
	display: none;
}
#social a {  
  display: inline-block;  
  width: 46px;  
  height: 46px;
	background-image: url(../images/SpriteMedia.png);
}

#Facebook
{
	background-position: 0 -46px;
}
#Twitter
{
	background-position: 0 0;
}

#Google
{
	background-position: 0 -92px;
}

#Facebook:hover
{
	background-position: -46px -46px;
}
#Twitter:hover
{
	background-position: -46px 0;
}

#Google:hover
{
	background-position: -46px -92px;
}