#header{
  margin-top:10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display:block;
  height:250px;
  max-width: 100%;
  width:98.05% !important;
}

#main {
	position: relative;
	width: auto;
	height: 140px;
	box-shadow: 0px 0px 20px #333333;
	background-color: #3f51b5;
	background-size: cover;
}

#main h1{
	color:#e8eaf6;
	font-size:54px;
	font-weight: 700;
	position: relative;
	max-width: 100%;
	margin-left: 10px;
	font-family: 'Roboto';
}

#main p{
  margin-top: -30px;
  color:#e8eaf6;
  position: relative;
  font-size:33px;
  margin-left: 10px;
  font-family: 'Roboto';
  font-weight: 500;
}

.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}

.thumbnail > img,
.thumbnail a > img {
  margin-right: auto;
  margin-left: auto;
}

.thumbnail {
	display: block;
	padding: 4px;
	margin-bottom: 20px;
	margin-right: auto;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
	transition: border .2s ease-in-out;
}

header nav{
  max-width: 100%;
  width:98.05% !important;
}

body {
  margin: 0;
  padding: 0;
  background:#eeeeee !important;  
  font-family: 'Open Sans', sans-serif;
}

nav{
  text-transform: uppercase;
}

article{
	display: block;
	background: #fafafa;
	max-width: 100%;
}

.container{
	margin-left: 10px;
}

section h3{
	color: #212121;
  margin-left:10px;
	font-family: "Roboto"
}

section p,h4,img{
	margin-left:25px;
}

div canvas{
	font-family: 'Roboto';
}

#canvas{
	display: block;
	width:auto;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

#mapa{
	text-align: center;
}

#line{
  border-bottom:1px solid #d3d3d3;
	margin-bottom: 1em;
}

#centrado{
	display:flex;
	margin-top: 10pt;
	margin-left: auto;
	margin-right: auto;
}

#textoCentrado{
	text-align: center;
	list-style-position:inside;
}

#white{
	background: #fafafa;
	max-width: 100%;
	display:inline;
	float: left;
	position: relative;
	margin-left: 1%;
	margin-right: 1%;
}

section p{
	text-indent: 2em;
}

p{
	color: #212121;
  text-align: justify;
	font-family: "Roboto"
}

.container div{
	text-align: center;
	float:inherit;
	margin-left: -280px;
}

.ir-arriba {
	padding:20px;
	display:inline-block;
	background:#373332;
	color:#fff;
	position: fixed;
	font-size:20px;
	bottom:20px;
	right:20px;
	display:none;
	cursor:pointer;
}

#pintar{  
	display: block;
	margin-left: auto;  
	margin-right: auto;
	border: 1px solid #999;
	background-color: #ebebeb;
	background-image: url(../images/model_front.png);
	background-position: center;
	background-repeat: no-repeat;
}


h2 {
	color: #212121;
	margin-left: 0.1em;
}



ul {
	color:#212121;
}



li {
	color: #212121;
	font-family: "Roboto";
}


